<div class=" flex items-center justify-center h-[500px]">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-xs">
 
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input formControlName="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="Email">
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            <p class="text-red-500 text-xs italic">Please enter a valid email.</p>
          </div>  
    </div>
   
      <div class="flex items-center justify-between">
        <button type="submit" [disabled]="form.invalid" class="bg-red-700 hover:bg-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Reset password
        </button>
        <a class="inline-block align-baseline font-bold text-sm text-red-700 hover:text-blue-800" routerLink="/auth/login" >
          Login
        </a>
      </div>
      <p>{{ message }}</p>
    </form>
   
  </div>
